$colorRojo: rgb(209, 85, 188);
$fuentePrincipal: Arial;
$fuenteSecundaria: Smooch Sans;
@mixin flex_item_justufy ($flex, $item, $justify) {
    display: flex;
    flex-direction: $flex;
    align-items: $item;
    justify-content: $justify;
    
}



body {
    background-color: white;
}

nav ul{
    border: 2px solid $colorRojo ;
    font-family: $fuenteSecundaria;
    list-style: none;
    @include flex_item_justufy(row, center, space-evenly)

}

a:hover{
    color: $colorRojo;
}